<%- include('../../partials/header.ejs'); %>

<body>
<%- include('../../components/navbar.ejs'); %>

<div class="container">

    <% if(message.length > 0) { %>
        <div class="alert alert-success mt-1">
            <%- message %>
        </div>
    <%} else if(error_message.length > 0) { %>
        <div class="alert alert-danger mt-1">
            <%- error_message %>
        </div>
    <% } %>

    <div class="card mt-5">
        <div class="card-header text-light bg-dark">
            <h2><%= form.titulo.titulo_edita %></h2>
        </div>
        <div class="card-body">
            <form action="<%= form.action.update %>" method="<%= form.metodo %>">
                <div class="mb-3 row">
                    <label for="title">Título</label>
                    <input type="text" class="form-control" name="title" id="title" placeholder="Defina o titulo do artigo" value="<%= article.title %>">
                </div>
                <div class="mb-3 row">
                    <select class="form-select" aria-label="Default select example" id="category" name="category">
                        <% categories.forEach(category => { %>
                            <% if(category.id == article.id) { %>
                                <option value="<%= category.id %>" selected><%= category.title %></option>
                            <% } else { %>
                                    <option>---</option>
                                    <option value="<%= category.id %>"><%= category.title %></option>
                                <% } %>
                        <% });  %>
                    </select>
                </div>
                <div class="mb-3 row">
                    <label for="body_article">Artigo</label>
                    <textarea class="form-control" placeholder="Digite aqui o seu artigo" name="body_article" id="body_article" rows="15"></textarea>
                </div>

                <button class="btn btn-success mt-3"><%= form.botao.salvar %></button>
                <a href="<%= form.action.index %>" class="btn btn-danger mt-3"><%= form.botao.cancelar %></a>
            </form>
        </div>
    </div>
</div>

<%- include('../../partials/footer.ejs'); %>