<%- include('../../partials/header.ejs'); %>

<body>
<%- include('../../components/navbar.ejs'); %>

<div class="container">

    <% if(message.length > 0) { %>
        <div class="alert alert-success mt-1">
            <%- message %>
        </div>
    <%} else if(error_message.length > 0) { %>
        <div class="alert alert-danger mt-1">
            <%- error_message %>
        </div>
    <% } %>

    <div class="card mt-5">
        <div class="card-header text-light bg-dark">
            <h2>Cadastro de categoria</h2>
        </div>
        <div class="card-body">
            <form action="/admin/categories/save" method="post">
                <div class="mb-3 row">
                    <label for="title">Título</label>
                    <input type="text" class="form-control" name="title" id="title" placeholder="Defina o titulo da categoria">
                </div>
                <button class="btn btn-success mt-3">Cadastrar</button>
                <a href="/categories" class="btn btn-danger mt-3">Cancelar</a>
            </form>
        </div>
    </div>
</div>

<%- include('../../partials/footer.ejs'); %>